.home {
    background-image: url(../images/serviços.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 4%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.blocoHome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image {
    margin-right: 16px;
    flex: 35rem;
}

.image img {
    width: 100%;
    border-radius: 50px;
    box-shadow: -16px 15px 15px rgba(0, 0, 0, 0.626);
}

.content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.content h3 {
    margin-bottom: 8px;
    font-size: 1.8rem;
    color: #000000;
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.525);
}

.content p {
    font-size: 1.8rem;
    color: #000000;
    padding: 1rem 0;
    line-height: 1.4;
    max-width: 70rem;
    font-weight: 700;
}

.content h2 {
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #000000;
    font-size: 40px;
    text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.49);
}

@media screen and (max-width: 974px){
    .blocoHome{
        flex-direction: column-reverse;
    }
    .home{
        background-image: url(../images/home-mobile.jpg);
    }
    .content {
        flex: none;
    }

}
